/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */




html {
  color: #222;
  font-size: 20px;
  line-height: 1.4;
  scroll-behavior: smooth;
}


.inlineHeader {
  display: block;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 3;
  top: 1%;
  left: 20%;
  font-size: 2.7vh;
}

@media screen and (max-width: 415px) {
  .inlineHeader{
    width: 1%;
    display:none;

  }
}

.Joshua{
  position: fixed;
  top: -1%;
  left: 6%;
  z-index: 3;
  font-size: 2.6vh;
  font-family: Impact, fantasy;
}
@media screen and (max-width: 415px) {
  .Joshua {
    display: none;
    width: 1%;
    left: -100px;

  }
}


.Jones{
  position: fixed;
  top: -1%;
  left: 10%;
  z-index: 3;
  color: #00befc;
  font-size: 2.6vh;
  font-family: Impact, fantasy;
}

@media screen and (max-width: 415px) {
  .Jones {
    display: none;
    width: 1%;

  }
}

.HeaderImage{
  position: fixed;
  z-index:2;
  width: 110%;
  height: auto;

}

@media screen and (max-width: 415px) {
  .HeaderImage{
    display:none;
    width: 1%;
  }
}

.JoshuaJonesHeader{
  display: block;
  top: 20vh;
  left: 13.2vh;
  position: absolute;
  text-align: left;
  color: black;
  font-size: 12.2vh;
  font-family: "Franklin Gothic Medium", serif;
  font-stretch: condensed;
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .JoshuaJonesHeader{
    font-size: 3em;
    left: 35px;
    max-width: 80%;


  }
}

.CSdegree {
  display: block;
  top: 60vh;
  left: 13.2vh;
  position: absolute;
  text-align: Left;
  color: black;
  font-family: "Franklin Gothic Demi", serif;
  font-stretch: condensed;
  font-style: italic;
  font-size: 2.7vh;
  z-index: 0;
}
@media screen and (max-width: 415px) {
  .CSdegree {
    left: 35px;
    max-width: 50%;

  }
}

.HelloWorld{
  position: absolute;
  width: 58%;
  height: auto;
  top: 30vh;
  z-index: 0;
}
@media screen and (max-width: 415px) {
  .HelloWorld{
    max-width: 1%;
    display: none;
    left: 1px;
    top: 1px;

  }
}

.EndOfHelloWorld{
  position: absolute;
  width: 65%;
  height: auto;
  top: 37.5vh;
  left: 28vh;
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .EndOfHelloWorld{
    max-width: 1%;
    display: none;
    left: 1px;

  }
}
h1
{
  display: inline-block;
  font-size: .75em;
  z-index: 0;

}

.HiddenText{
  position: absolute;
  top: 100vh;
  z-index: 0;
}

.HiddenText p{
  color: white;
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .HiddenText{
    max-width: 1%;
    display: none;
    left: 1px;

  }
}
@media screen and (max-width: 415px) {
  .HiddenText p{
    max-width: 1%;
    display: none;
    left: 1px;

  }
}


.WhiteAboutBox{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 110vh;
  color: darkgray;

}

@media screen and (max-width: 415px) {
  .WhiteAboutBox{
    max-width: 100%;

  }
}

.AboutMeText {
  display: block;
  color: #00befc;
  top: 100vh;
  left: 5vh;
  position: absolute;
  z-index: 1;
  font-family: "Franklin Gothic Medium", serif;
  font-size: 11.8vh;

}

@media screen and (max-width: 415px) {
  .AboutMeText {
    top: 720px;
    font-size: 2.3em;



  }
}

.AboutMeParagraph{
  display:block;
  text-align: left;
  position: absolute;
  top: 130vh;
  left: 5vh;
  color: White;
  z-index: 1;
  font-family: Arial, serif;
  font-size: 4.2vh;
}

@media screen and (max-width: 415px) {
  .AboutMeParagraph {
    top: 840px;
    font-size: .9em;
    max-width: 90%;

  }
}
.CodingExpHeader{
  position: absolute;
  top: 182vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 415px) {
  .CodingExpHeader{
    font-size: 1.2em;
    top: 1400px;

  }
}

.PythonImg {
  position: absolute;
  top: 250vh;
  left: 12vh;
  width: 25%;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 415px) {
  .PythonImg{
    left: 13px;
    top:1860px;

  }
}

.HTMLImg{
  position: absolute;
  top: 249vh;
  left: 76vh;
  width: 27%;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 415px) {
  .HTMLImg{
    left: 135px;
    top:1860px;

  }
}


.CSSImg{
  position: absolute;
  top: 250vh;
  left: 140vh;
  width: 26%;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 415px) {
  .CSSImg{
    left: 262px;
    top: 1862px;

  }
}




.WorkExpHeader{
  position: absolute;
  top: 297vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 8vh;
  color:white;
}

@media screen and (max-width: 415px) {
  .WorkExpHeader{
    color: black;
    font-size: 1.2em;
    top: 1920px;
  }
}

.WorkExpText{
  position: absolute;
  top: 345vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: condensed;
  font-weight: bolder;
  z-index: 1;
  font-size: 3.85vh;
  color:white;
}

@media screen and (max-width: 415px) {
  .WorkExpText{
    font-size: 1em;
    left: 30px;
    top: 2250px;
    max-width: 80%;
    color: black;
  }
}

.BackgroundCodingIMG{
  position: absolute;
  top: 340vh;
  width: 125%;
  height: auto;
  left: -1vh;
  filter: blur(8px);
  -webkit-filter: blur(6px);
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .BackgroundCodingIMG{
    opacity: 0;

  }
}

.BackgroundCodingIMG2{
  position: absolute;
  top: 340vh;
  width: 125%;
  height: auto;
  left: -1vh;
  filter: blur(8px);
  -webkit-filter: blur(6px);
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .BackgroundCodingIMG2{
    display: none;
    width: 1%;


  }
}

.PersonalProjectsHeader{
  position: absolute;
  top: 412vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 7.9vh;

}

@media screen and (max-width: 415px) {
  .PersonalProjectsHeader{
    font-size: 1.2em;
    top: 2800px;

  }
}


.HangmanText{
  position: absolute;
  top: 508vh;
  left: 47vh;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;

}

@media screen and (max-width: 415px) {
  .HangmanText{
    left: 5px;
  }
}

.BudgetText{
  position: absolute;
  top: 508vh;
  left: 124.5vh;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
}

@media screen and (max-width: 415px) {
  .BudgetText{
    top: 3900px;
    left: 5px;
    max-width: 50%;
    height: auto;
  }
}

.HangmanSource{
  position: absolute;
  top: 525vh;
  left: 47vh;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #00befc;
  font-size: 2.6vh;
}

@media screen and (max-width: 415px) {
  .HangmanSource{
    left: 5px;
  }
}

.BudgetSource{
  position: absolute;
  top: 525vh;
  left: 124.5vh;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #00befc;
  font-size: 2.6vh;
}
@media screen and (max-width: 415px) {
  .BudgetSource{
    top: 4010px;
    left: 5px;
    max-width: 50%;
    height: auto;
  }
}

#HangmanLink a{
  color: #00befc;
}


.HangmanPic{
  position: absolute;
  top: 478vh;
  left: 50vh;
  height: 30%;
  width: auto;
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .HangmanPic{
    left: 5px;
    max-width: 50%;
    height: auto;
  }
}

.BudgetPic{
  position: absolute;
  top: 478vh;
  left: 125vh;
  height: 30%;
  width: auto;
  z-index: 0;
}

@media screen and (max-width: 415px) {
  .BudgetPic{
    top: 3700px;
    left: 5px;
    max-width: 50%;
    height: auto;
  }
}

p{
  color:black;
  z-index: 1;

}

h2{
  font-size: 3em;
  color: black;
  position: center;
  z-index: 0;
}

li{
  color: black;
  z-index: 0;
}

a:link{
  color:black;
  text-decoration:none;
  transition-duration: .2s;
  z-index: 0;
}
a:visited{
  color:black;
  text-decoration:none;
  z-index: 0;
}
a:hover{
  color: #00befc;
  text-decoration:none;
  transition-duration: .2s;
  z-index: 0;

}

body {
  overflow-x: hidden; /* Hide scrollbars */
}

@media screen and (max-width: 415px) {
  html, body {
    overflow-x: hidden; /* Hide scrollbars */
  }
}



.BottomBox{
  position:relative;
  top: 540vh;
  z-index: -1;
  width:100%;
  height: 10vh;
  background: #778899;

}

@media screen and (max-width: 415px) {
  .BottomBox{
    top: 4200px;
  }
}


.BottomTextL{
  position:absolute;
  top: 541.5vh;
  left: 65vh;
  z-index: 1;
  font-size: 3.3vh;
}

.BottomTextG{
  position:absolute;
  top: 541.5vh;
  left: 100vh;
  z-index: 1;
  font-size: 3.3vh;
}

.BottomTextE{
  position:absolute;
  top: 541.5vh;
  left: 135vh;
  z-index: 1;
  font-size: 3.3vh;
}

@media screen and (max-width: 415px) {
  .BottomTextL{
    top: 4200px;
    left: 50px;
    font-size: 1em;
  }
}

@media screen and (max-width: 415px) {
  .BottomTextG{
    top: 4200px;
    left: 159px;
    font-size: 1em;
  }
}

@media screen and (max-width: 415px) {
  .BottomTextE{
    top: 4200px;
    left: 249px;
    font-size: 1em;

  }
}

#BottomSocials a{
  color: white;
  z-index: 1;
}

#BottomSocials a:hover{
  color: black;
}

#BottomLink{
  position: absolute;
  top: 4000px;
  opacity: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

